body{
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #7ea3c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clickedtodo{
  color : rgb(82, 134, 85);
  text-decoration : line-through
}
li{
  list-style-type: none;
  background: #6060d3;
  line-height: 40px;
  width: 600px;
  text-align: center;
  margin-right: auto;
  display: block;

}
li:nth-child(2n){
  background: #4040a9;
}
.colortrash{
  background: #ff8a80;
  opacity: 0.8;
  height: 40px;
color:white;
  text-align: center;
  width:40px;
  display: inline-block;
  -webkit-transition: linear 1.2s ;
  -moz-transition: linear 1.2s ;
  transition: linear 1.2s ;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0px;
}
/* .btn-card{
margin-left: px;

} */
/* .px{
margin-right: auto;

} */